@charset "UTF-8";

header {
  padding: 1rem 2rem;
}

footer {
  padding: 1rem 2rem;
}

.content-box {
  padding: 0 1rem;
  min-height: 640px;
}

.left-box {
  padding: 0 1rem;
}

.main-box {
  padding: 0 1rem;
}

.input-box {

  textarea {
    width: 100%;
    height: 100%;
  }
}

.output-box {

  .display {
    padding: 1rem;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
  }
}